*{color: #fff;}
.body{
   background:url(../img/new1.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.form-container{border:0px solid #fff; padding:50px 60px; margin-top:20vh;
-webkit-box-shadow: 2px 4px 26px 11px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 26px 11px rgba(0,0,0,0.75);
box-shadow: 2px 4px 26px 11px rgba(0,0,0,0.75);
border-radius: 22px 22px 22px 22px;
-moz-border-radius: 22px 22px 22px 22px;
-webkit-border-radius: 22px 22px 22px 22px;
border: 0px solid #000000;
}
